fastapi
uvicorn
torch
torchaudio
onnx
onnxruntime
omegaconf
python-multipart
pydantic
fastapi[standard]
soundfile
librosa

# Whisper runtime
faster-whisper==1.0.3
openai>=1.0.0
pydantic>=1.10

# RAG stack
langchain
langchain-community
langchain-openai
pypdf2
sentence-transformers
faiss-cpu

# utils
tqdm


transformers>=4.40
safetensors
sentencepiece


